.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    padding: 10px;
}